html, body {
  min-height: 100%;
  min-width: 100%;
}

.wrapper {
  @include wrapper();
}

.wrapper-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  @include flex-grow(1);
}

.row {
  @include row-flex();
  margin-left: 0px;
  margin-right: 0px;
}

.col {
  @include col();
}
