body {
  background: $background-color;
  color: $font-color-main;
}

.bookingModule__block {
  display: block;
  width: 100%;
}

.slick-slide {
  outline: none !important;
}

.slider__wrapper {
  position: relative;
  width: 100%;
  margin-top: $layout-offset*2;
  outline: none;

  .slider__block {

    border-radius: $layout-offset/2;
    outline: none;
    width: 100%;
    overflow: hidden;

    img {
      display: block;
      outline: none;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.content__menu-default.no-margin  {
  margin-top: $layout-offset;
  margin-bottom: $layout-offset;
  display: none;
  
  @include md-block {
    display: block;
  };
}

.content__menu-default {
  margin-top: $layout-offset*2;

  .menu__item {
    display: inline-block;
    margin-left: $layout-offset;

    @include md-block{
      width: 100%;
      margin-left: 0px;
      margin-top: $layout-offset;

      &:first-child {
        margin-top: 0;
        text-align: center;
      }
    };

    &:first-child {
      margin-left: 0;
    }

    text-transform: uppercase;
    font-weight: 500;
    font-size: $font-size-small;

    &-bordered {
      border: 1px solid;
      border-radius: $layout-offset/4;
      padding: $layout-offset/2;
    }
  }
}

.block {
  padding: $layout-offset*4 0;
  font-weight: 200;

  @include md-block {
    padding: $layout-offset*2 $layout-offset;
  };
  @include sm-block {
    padding: $layout-offset*2 $layout-offset/2;
  };

  .block__row {
      margin-top: $layout-offset*2;
  }

  .block__row-descript {
    order: 2;
    width: 100%;

    @include md-block {
      padding-top: $layout-offset;
      margin-top: $layout-offset;
      border-top: 1px solid rgba($background-color, 0.2);
    };
  }
  .block__row-bottom {
    order: 1;
    width: 100%;
  }

  .block__content {
    display: flex;
    flex-wrap: wrap;
    @include justify-content(space-between);

  }

  .block__col {
    .block__descript {
      @include size(12);
      @include size-md(14);

    }
  }

  .block__left {
    @include size(7);
    @include size-md(14);
  }

  .block__right {
    @include size(5);
    @include size-md(14);
  }

  &__heading {
    display: flex;
    @include align-items(center);

    .block__h1 {
      font-size: $font-size-large;
      text-transform: uppercase;
      font-weight: bold;

      @include md-block{
        font-size: $font-size-big;
      };
    }

    .block__icon {
      background: #999;
      width: 34px;
      height: 34px;
      margin-right: $layout-offset;

      @include md-block{
        font-size: $font-size-big;
      };
    }

    .block__button {

      @include md-block{
        display: none;
      };

      display: flex;
      align-items: center;
      color: $background-color;
      background: $font-color-main;
      border-radius: $layout-offset/4;
      padding: $layout-offset/2 - 2px 14px;
      margin-left: $layout-offset*2;
      font-weight: 500;
      font-size: $font-size-small;
      text-transform: uppercase;
      letter-spacing: .1px;

      &:hover {
        background: darken($font-color-main, 5%);

        &:active {
          background: darken($font-color-main, 10%);
        }
      }

      .button__icon {
        display: inline-block;
        background: #999;
        width: $layout-offset*1.5;
        height: $layout-offset;
        margin-right: $layout-offset/2 - 2px;
      }
    }
  }

  &__menu {
    width: 100%;

    .menu__item {
      display: inline-block;
      margin-left: $layout-offset;

      @include md-block{
        width: 100%;
        margin-left: 0px;
        margin-top: $layout-offset;

        &:first-child {
          margin-top: 0;
          text-align: center;
        }
      };

      &:first-child {
        margin-left: 0;
      }

      text-transform: uppercase;
      font-weight: 500;
      font-size: $font-size-small;

      &-bordered {
        border: 1px solid;
        border-radius: $layout-offset/4;
        padding: $layout-offset/2;
      }
    }
  }

  &__descript {
    @include size(6);
    @include size-md(14);
    line-height: $layout-offset;
    font-weight: 200;

    @include md-block{

    };
  }

  &__bottom {
    display: flex;
    @include size(12);
    width: 100%;
    border-top: 1px solid #e7e7e7;
    padding-top: $layout-offset;
    margin-top: -$layout-offset;
    font-weight: 200;

    @include xs-block{
      flex-direction: column;
    };

    .bottom__item {
      margin-right: $layout-offset*2;
      &:last-child {
        margin-right: 0;
      }

      @include xs-block{
        margin-top: $layout-offset/2;

        &:first-child {
          margin-top: 0;
        }
      };

      .item__h1 {
        font-size: $font-size-normal;
        color: darken($font-color-grey, 30%);

        &-helper {
          font-size: 12px;
          line-height: 18px;
          color: darken($font-color-grey, 30%);

        }
      }

      .item__h2 {
        font-size: $font-size-big;
        font-weight: 800;

        @include md-block{
          font-size: $font-size-big - 8px;
        };
      }
    }
  }

}

a {
  color: $font-color-main;
  text-decoration: none;
}
