.content__booking {
  width: 100%;
  margin-top: $layout-offset*2;
  text-align: center;
}

.subpage {
  position: relative;
  margin-bottom: $layout-offset*2;
  color: $font-color-main;

  &__h1 {
    width: 100%;
    margin-top: $layout-offset*2;
    font-size: $font-size-large;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__h1-mobile {
    @include sm-block {
      font-size: $layout-offset;
    };
  }

  &__h2 {
    width: 100%;
    margin-top: $layout-offset/2;
    font-weight: 200;
    font-size: $layout-offset - 8px;
    color: darken($font-color-grey, 30%);
    vertical-align: middle;
    margin-top: $layout-offset;
    font-size: $font-size-normal;
    font-weight: 400;
    line-height: $font-size-normal + 6px;

    @include md-block {
      margin-left: 0;
    };
  }

  &__slider {
    border-radius: $layout-offset/2;
    outline: none;
    width: 100%;
    overflow: hidden;

    img {
      display: block;
      outline: none;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .benefits {
    display: flex;
    margin-top: $layout-offset*2;
    flex-wrap: wrap;

    @include size(14);
    @include md-block {
      flex-direction: column;
    };

    .subpage__h2 {
      margin-top: 0;
      font-size: $font-size-normal;
      color: $font-color-main;
      font-weight: 400;
      line-height: $layout-offset - 2px;
    }

    &__text {
      @include size(6);
      @include size-md(13);
    }

    &__icons {
      @include size(6);
      @include size-md(12);

      margin-left: $layout-offset*2;

      .subpage__h2 {
        font-weight: 400;
        margin-bottom: $layout-offset/2;
      }

      @include md-block {
        margin-left: 0;
        margin-top: $layout-offset;
      };
    }

    &__h1 {
      margin-bottom: $layout-offset/4;
      color: darken($font-color-grey, 30%);
    }

    &__item {
      display: inline-block;
      margin-top: $layout-offset/2;
      @include size(4.5);
      @include xs-block {
        width: calc(49%);
      };
      @include md-block {
        width: calc(25%);
      };

      div {
        display: inline-block;
        font-weight: 500;
        font-size: $font-size-small;
        margin-left: $layout-offset/2;

        @include sm-block {
          font-size: $font-size-small - 1px;
        };
      }

      i {
        display: inline-block;
        margin-right: $layout-offset/2;
        @include size(2);
        @include size-md(2);
        text-align: center;

        @include sm-block {
          margin-right: $layout-offset/12;
          width: 10px;
        };
      }
    }
  }

  .subpage__tabs {
    display: flex;
    flex-wrap: wrap;
    margin-top: $layout-offset*2;
    min-width: 100%;

    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 1px #eee;

    @include md-block {
      flex-direction: column;
      box-shadow: none;
    };

    .tabs__menu {
      border-left: 1px solid #eee;
      padding-top: $layout-offset/2;
      @include size(3);

      @include md-block {
        padding-top: none;
        order: 1;
        width: 100%;
        margin-left: 0;
        border-left: none;
        // padding: $layout-offset/2;
        border-radius: $layout-offset/4;
        box-shadow: 0px 4px 24px 1px rgba(#999, .2);
      };

      .tabs__menuitem {
        cursor: pointer;
        padding: $layout-offset/2;
        text-transform: uppercase;
        font-weight: 500;
        font-size: $font-size-small;
        color: $font-color-main;

        &:hover {
          background: #eee;
        }

        &.active {
          background: #eee;

          &:hover {
            background: #eee;
          }
        }
      }
    }

    .tabs__tab {
      padding: $layout-offset 0;
      padding-left: $layout-offset;

      @include size(9.5);

      @include md-block {
        order: 2;
        margin-top: $layout-offset;
        padding: $layout-offset;
        width: 100%;
      };

      .tab__content {
        padding-right: $layout-offset;

        .content__menu {
          .menu__item {
            cursor: pointer;
            display: inline-block;
            text-transform: uppercase;
            margin-left: $layout-offset;
            font-weight: 500;
            font-size: $font-size-small;
            color: $font-color-main;
            &:first-child {
              margin-left: 0;
            }

            a {
              display: inline-block;
              font-size: $font-size-small;
            }

            @include md-block {
              margin-left: 0;
              width: 100%;
              margin-top: $layout-offset;
              a { text-decoration: underline; }

              &:first-child {
                text-decoration: none;
              }
            };
          }
        }

        @include md-block {
          padding-right: 0;
        };

        .content {
          &__h1 {
            font-size: $font-size-big;
            text-transform: uppercase;
            font-weight: 500;

            @include md-block {
              margin-top: $layout-offset;
              font-size: $font-size-big - 8px;
            };
          }

          &__h2 {
            font-size: $layout-offset - 8px;
            line-height: $layout-offset;
            font-weight: 300;
            margin-top: $layout-offset;
            font-size: $font-size-normal;
            color: $font-color-main;
            font-weight: 400;
            line-height: $layout-offset - 2px;
          }



          &__slider {
            position: relative;
            width: 100%;
            margin-top: $layout-offset*2;

            .content__slideritem {
              border-radius: $layout-offset/2;
              outline: none;
              width: 100%;
              overflow: hidden;

              img {
                display: block;
                outline: none;
                max-width: 100%;
                max-height: 100%;
              }
            }
          }

          &__info {
            margin-top: $layout-offset;
            padding-top: $layout-offset;
            border-top: 1px solid #eee;

            .info__item {
              margin-top: $layout-offset/2;
              &:first-child {
                margin-top: 0;
              }

              .info__h1 {
                display: inline-block;
                font-weight: 300;
                color: darken($font-color-grey, 30%);

                @include md-block {
                  margin-top: $layout-offset/2;
                };
              }

              .info__h2 {
                display: inline-block;
                margin-left: $layout-offset/2;
                font-weight: 500;

                &-block {
                  margin-left: 0;
                  margin-top: 4px;
                }

                @include md-block {
                  display: block;
                  margin-top: $layout-offset/4;
                  margin-left: 0;
                };
              }
            }
          }
        }
      }
    }
  }

  &__slider {
    position: relative;
    width: 100%;
    margin-top: $layout-offset*2;

    .subpageSlider__item {
      border-radius: $layout-offset/2;
      outline: none;
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

}
