#rsnlresponse {
  max-width: 1240px;
  margin: auto;
  padding: 0 20px;
}

.booking__item {
  display: inline-block;
  padding: $layout-offset;
  background: #fff;
  box-shadow: 0px 0px 48px rgba(#000, .1);
  border-radius: $layout-offset/2;
  margin-top: $layout-offset*2;

  @include md-block {
    width: 100%;
  };

  .item__h1 {
    font-weight: 500;
  }

  .item__h2 {
    margin-top: $layout-offset/4;

    span {
      font-weight: 500;
      margin-right: $layout-offset/4;
    }
  }
}


.subpage__h1-subpage {
  width: 100%;
  padding: 0 $layout-offset/2;
  margin-top: $layout-offset*2;
  font-weight: 800;
  text-transform: uppercase;
  font-size: $font-size-large;

  @include md-block {
    font-size: $font-size-big;
  };
}

.bookingForm {
  width: 100%;
  @include size-md(12);
  margin: auto;
  background: #fff;
  border-radius: $layout-offset/2;
  padding: $layout-offset;
  box-shadow: 0px 1px 4px rgba(#000, .1);
  overflow: hidden;

  * {
    transition: box-shadow .2s;
  }

  &-subpage {
    margin-top: $layout-offset*3;
    margin-bottom: $layout-offset*3;
  }


  .bookingForm__tabContent {
    .tabsContent__h1 {
      margin-top: $layout-offset*2;
      margin-bottom: $layout-offset*2;
      font-size: $font-size-normal;
      letter-spacing: 0;
      text-align: center;
    }

    form {
      @include size(6);
      margin: auto;

      input, textarea {
        width: 100%;
        border-radius: $layout-offset/4;
        outline: none;
        border: 1px solid #ccc;
        padding: $layout-offset/4;
      }

      textarea {
        min-height: $layout-offset*4;
      }

      .form__h2 {
        margin-top: $layout-offset;
        margin-bottom: $layout-offset/4;
        text-transform: uppercase;
        font-weight: 500;
        font-size: $font-size-small;
      }
    }
  }

  .bookingForm__tabMenu {
    display: flex;
    margin-top: -$layout-offset;
    margin-left: -$layout-offset;
    margin-right: -$layout-offset;
    border-bottom: 1px solid lighten($font-color-grey, 16%);
    box-shadow: 0px -2px 16px rgba(#000, .1);

    .menu__item {
      display: flex;
      width: calc(50%);
      cursor: pointer;
      text-transform: uppercase;
      font-size: $font-size-normal;
      font-weight: 600;
      text-align: center;
      padding: $layout-offset;
      align-items: center;

      @include sm-block {
        padding: $layout-offset/2;
        display: block;
      };

      .fa {
        margin-right: $layout-offset/2;
        font-size: $font-size-big - 12px;
        margin-right: auto;

        @include sm-block {
          font-size: $font-size-normal;
          display: none;
        };
      }

      &:hover {
        color: $color-main;
      }
    }

    .active {
      color: $font-color-main;
      // background: lighten($font-color-grey, 16%);
      box-shadow: 0px 4px 16px rgba(#000, .1);
      border-bottom-right-radius: $layout-offset/4;
      border-bottom-left-radius: $layout-offset/4;

    }
  }
}
