.footer-bg {
  background: $font-color-main;
}

.footer.block {
  display: block;
}

.footer {
  color: $background-color;
  font-weight: 400;
  padding: $layout-offset*2 0;

  &__top {
    display: flex;
    width: 100%;
    @include justify-content(space-between);
    @include align-items(center);
  }
}

.footer {

  &__logo {

    @include size(4);

    .row {
      @include justify-content(flex-start);
    }

    width: 140.99px;
    height: $layout-offset*4;
    background: url('img/logo-with-bg@2x.png') center center no-repeat;
    background-size: contain;
  }

  &__phone {

    @include md-block{
      margin-left: auto;
    };

    .phone__h1 {
      margin-bottom: $layout-offset/4;
      color: $font-color-grey;
      font-size: $font-size-small;
      font-weight: 500;
    }

    .phone__number {
      font-weight: bold;
    }
  }

  &__social {
    @include md-block{
      display: none;
    };

    a {
      display: inline-block;
      margin-right: $layout-offset;
      font-size: $layout-offset - 6px;
      color: $background-color;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__feedback {
    @include md-block{
      display: none;
    };

    a {
      display: inline-block;
      color: $background-color;
    }

    .feedback__h1 {
      margin-bottom: $layout-offset/4;
      color: $font-color-grey;
      font-size: $font-size-small;
      font-weight: 500;
    }

    .feedback__logo {
      width: 109px;
      height: $layout-offset - 6px;
      background: url('img/icons/bcomlogo.png') center center no-repeat;
      background-size: contain;
    }
  }
}
