.language {
  position: absolute;
  right: $layout-offset;
  top: 0;
  text-align: right;
  background: #fff;
  border-bottom-left-radius: $layout-offset/2;
  border-bottom-right-radius: $layout-offset/2;
  padding: $layout-offset/4 $layout-offset/2;
  box-shadow: 0px 0px 24px #ddd;


  @include md-block {
    left: $layout-offset;
    right: 0;
    margin: auto;
    width: $layout-offset*6;
    text-align: center;

  };

  a {
    margin-right: $layout-offset/2;
    &:last-child {
      margin-right: 0;
    }
    font-size: $font-size-small - 2px;
    text-transform: uppercase;
    font-weight: 500;
    color: #aaa;
    &:hover {
      color: #333;
    }
  }
}

.header.block {
  display: block;

  @include md-block{
    padding: $layout-offset $layout-offset/2;
  };
}

.header {

  border-bottom: 1px solid #e7e7e7;
  padding: $layout-offset 0;

  @include md-block{
    padding: $layout-offset/2 0;
  };

  .row {
    @include justify-content(space-between);
    @include align-items(center);
  }

  &__menuicon {
    @include size(2);
    display: none;
    text-align: right;
    margin-left: auto;
    // margin-right: $layout-offset/2;
    font-size: $layout-offset;

    @include md-block{
      display: block;
    };
  }

  &__social {
    @include size(5);
    @include md-block{
      display: none;
    };

    .row {
      @include justify-content(flex-start);
    }

    font-size: $font-size-normal;

    a {
      color: $font-color-grey;
    }

    .social__block {
      margin-right: $layout-offset;

      &:last-child {
        margin-right: 0;
      }
    }

    .social__email {
      color: $font-color-grey;
      font-weight: 400;
    }

    .social__vkfb {
      i {
        margin-right: $layout-offset/2;
        font-size: $layout-offset - 6px;
      }
    }
  }

  a {
    @include size(3);
    @include size-md(4);
    width: 140.99px;
    height: $layout-offset*3;

    @include sm-block {
      height: auto;
    };

    .header__logo {

      .row {
        @include justify-content(flex-start);
      }


      height: $layout-offset*4.5;
      background: url('img/logo@2x.png') center center no-repeat;
      background-size: contain;

      @include md-block {
        background: url('img/logo@2x.png') left center no-repeat;
        background-size: contain;
      };

      @include sm-block {
        height: $layout-offset*2;
      };
    }
  }

  &__status {
    @include size(5);
    @include md-block{
      display: none;
    };

    .row {
      @include justify-content(flex-end);
      @include align-items(center);
    }

    .status__block {
      color: $font-color-main;

      &:first-child {
        margin-left: 0;
      }
    }

    .status__weather {
      margin-top: 2px;

      img {
        height: 26px;
        margin-right: $layout-offset/4;
      }

      .weather__nubmer {
        font-weight: bold;
      }
    }

    .status__time {
      margin-left: $layout-offset*1.25;

      .time__zone {
        margin-bottom: $layout-offset/8;
        color: $font-color-grey;
        font-size: $font-size-tiny;
        font-weight: 500;
      }

      .time__number {
        font-weight: bold;
      }
    }

    .status__phone {
      margin-left: $layout-offset*1.25;

      .phone__h1 {
        margin-bottom: $layout-offset/8;
        color: $font-color-grey;
        font-size: $font-size-tiny;
        font-weight: 500;
      }

      .phone__number {
        font-weight: bold;
      }
    }
  }
}
