.menu {

  z-index: 100;
  margin-top: $layout-offset;

  @include md-block{
    display: none;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(darken($color-main, 65%), .95);
    margin-top: 0;
  };

  &-visible {
    @include md-block {
      display: block;
      flex-direction: column;
      overflow-y: auto;
      position: fixed;
      visibility: visible;
      padding-bottom: $layout-offset;
    };
  }


  .wrapper {
    display: flex;

    @include md-block {
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap;
    };
  }

  .menu__close {
    display: none;
    visibility: hidden;
    color: $background-color;
    margin-top: $layout-offset;
    margin-left: auto;
    padding: $layout-offset/2;
    font-size: $layout-offset;

    @include md-block {
      display: block;
      visibility: visible;
    };
  }

  .links__block {
    &-right {
      margin-left: auto;
    }

    @include md-block {
      height: 100%;
      min-width: 100%;
      margin-right: 0px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    };
  }

  .menu__item {
    text-transform: uppercase;
    margin-left: $layout-offset;
    font-weight: 500;
    font-size: $font-size-small;
    color: $font-color-main;
    &:first-child {
      margin-left: 0;
    }

    @include md-block {
      margin-top: $layout-offset;
      color: $background-color;
      font-size: $layout-offset/1.25;
      padding-bottom: 4px;
      border-bottom: 1px solid rgba(#fff, .1);
      margin-left: 0;
    };
  }

}
