.slider {
  @include col();
  position: relative;
  @include size(14);
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.22), 0 1px 2px rgba(0,0,0,0.24);
  max-height: 640px;
}

.slick-arrow {
  border-radius: 100%;
}

.slick-prev:before, .slick-next:before {
  color: #ddd;

  @keyframes arrowColor {
    0% {color: #999;}
    50% {color: #fff;}
    100% {color: #999;}
  }

  animation: arrowColor 10s infinite ease-in-out;
}

.slick-next {
  margin-right: $layout-offset*2;
}

.slick-prev {
  z-index: 100;
  margin-left: $layout-offset*2;
}

/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  border-radius: 6px;
}
