doctype
html(lang='en')
  head
    include ../components/head
    block title
      title Галера
  body
    .wrapper-flex 
      include ../components/header
      include ../components/menu
      .content
        block content
      include ../components/footer
