extends ../layout/page

block title 
  title РК «Галера» - Баня
  
block content
  .subpage 
    .wrapper
      .row
        .subpage__h1
          | Баня
      .row
        .subpage__bookbutton.banya__bookbutton
          a(href="booking.html") Забронировать
      .row.is-vertical-center 
        .banya__time
          .time__h1 
            | Весна, осень, зима
          .time__h2 
            | ПН.-ЧТ. 300 грн. за один час
          .time__h2 
            | ПТ.-ВС. 350 грн. за один час
          .time__h1 
            | Лето
          .time__h2 
            | ПН.-ЧТ. 200 грн. за один час
          .time__h2 
            | ПТ.-ВС. 250 грн. за один час

        .subpage__h2.banya__h2
          | Гордость РК «ГАЛЕРА» — русская баня на дровах с выходом в Днепр. Баня построена по всем канонам русского «банестроения» с добавлением современных технологий, что позволяет повысить комфорт и качество услуг. Вся мебель в бане выполнена из натурального дерева вручную. Печь дает превосходный жар, но при этом у нас самый легкий пар во всем Галерном заливе. Как в комнате отдыха, так и в просторной парилке комфортно могут разместиться до 8 гостей. 
          br
          br
          | Также в бане имеется спальная комната, предбанник со шкафчиком для одежды, душевая кабина и уборная с отдельным входом. Для Вас всегда подготовлены дрова из лучших сортов дерева и разнообразные банные веники. Но главная отличительная черта нашей бани — это возможность окунуться после жаркой парной прямо в Днепр.
      .row
        .slider__wrapper
          .banya__slider.slider__block.banya__sliderimg
            - var banyaSlide = 1;
            while banyaSlide < 6
              img(src= 'assets/img/slider/banya/' + banyaSlide++ + '.jpg', alt="Баня")   
              
