extends ../layout/page

block title 
  title РК «Галера» - Контакты
  
block content
  .subpage 
    .wrapper
      .row
        .subpage__h1
          | Контакты
      .row
        .contacts__col.contacts__items
          .contacts__item
            .item__h1 
              | Адрес:
            .item__h2
              | 03045, Украина, г. Киев, ул. Набережно-Корчеватская, 35
              
          .contacts__item
            .item__h1 
              | По вопросам бронирования столиков, номеров, бани:
            .item__h2
              | Тел.: +38 067 525-35-35
            .item__h2
              | E-Mail: hotel@galera.com.ua
              
          .contacts__item
            .item__h2
              span Управляющая отелем: 
              | Шеметова Богдана
            .item__h2
              span Управляющий рестораном:
              | Андрюшкин Борис
            .item__h2
              span Маркетолог комплекса:
              | Федоренко Елена
        .contacts__col.contacts__map
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2544.9337511153035!2d30.552348115728407!3d50.36778977946402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4c6140de08c4d%3A0xee10451d1b49f71f!2z0LLRg9C70LjRhtGPINCd0LDQsdC10YDQtdC20L3Qvi3QmtC-0YDRh9GD0LLQsNGC0YHRjNC60LAsIDM1LCDQmtC40ZfQsiwg0KPQutGA0LDQuNC90LAsIDAyMDAw!5e0!3m2!1sru!2sru!4v1509715024424", width="100%", height="450", frameborder="0", style="border:0", allowfullscreen)
