extends ../layout/page

mixin benefits()
  .benefits__item
    i.fa.fa-wifi(style="color: #999") 
    div Wi-Fi
  .benefits__item
    i.fa.fa-thermometer(style="color: #999") 
    div Кондиционер
  .benefits__item
    i.fa.fa-lock(style="color: #999")  
    div Мини-сейф
  .benefits__item
    i.fa.fa-tv(style="color: #999")   
    div Кабельное TV
  .benefits__item
    i.fa.fa-glass(style="color: #999")  
    div Мини-бар
  .benefits__item
    i.fa.fa-phone(style="color: #999")  
    div Телефон 
  .benefits__item
    i.fa.fa-tint(style="color: #999")  
    div Питьевая вода
  .benefits__item
    i.fa.fa-bath(style="color: #999")   
    div Халат и тапочки
  .benefits__item
    i.fa.fa-heart(style="color: #999") 
    div Мини-косметика

block title 
  title РК «Галера» - Отель
  
block content
  .subpage 
    .wrapper
      .row
        .subpage__h1
          | Отель
        .subpage__h2
          | Добро пожаловать в место, где царит атмосфера свободы!
          
      .row
        .subpage__slider
          div.subpageSlider__item.slider__block 
            img(src="assets/img/slider/hotelSlider/fasad.jpg", alt="Акции")
            //- БЛОК С АКЦИЯМИ
            //- img(src="http://via.placeholder.com/900x300", alt="Акции")
            //- img(src="http://via.placeholder.com/900x300", alt="Акции")
      
      .row

        .benefits
          .benefits__text
            .subpage__h2
              | В стоимость номера включено пользование шезлонгами пляжа «Берег» развлекательного комплекса Галера, пляжные полотенца и один час аренды русской бани на дровах.
              br
              br
              | Завтрак не включен в стоимость номера. Завтрак можно выбрать и заказать при поселении на стойке регистрации отеля. 
          .benefits__icons
            .subpage__h2
              | Все 15 номеров отеля имеют следующее оснащение:
            +benefits()

      .row
        .content__menu-default 
          a(href="loyalty.html").menu__item Программа лояльности

      .row
        .subpage__tabs
          .tabs__tab
            .tab__content 
              .content__h1 
                | Номер категории «Стандарт»
              .content__h2 
                | Уютный бюджетный номер. Оснащен всем необходимым для комфортного пребывания — двуспальная кровать, плазменный телевизор, ванная комната оборудованная ванной.

              .content__slider
                div.content__slideritem.slider__block
                  img(src= 'assets/img/slider/subpageContentSlider/hotelStandart1.jpg', alt="Номер категории «Стандарт»")
                  img(src= 'assets/img/slider/subpageContentSlider/hotelStandart2.jpg', alt="Номер категории «Стандарт»")
                  img(src= 'assets/img/slider/subpageContentSlider/hotelStandart3.jpg', alt="Номер категории «Стандарт»")
                  
              .content__info
                .info__item
                  .info__h1 Количество номеров:
                  .info__h2 2
                .info__item
                  .info__h1 Площадь номеров: 
                  .info__h2 от 18 до 24 м²
                .info__item
                  .info__h1 Количество проживающих гостей: 
                  .info__h2 до 2 человек
                .info__item
                  .info__h1 Вид из окна: 
                  .info__h2 на пляж и ресторан / на Галерный залив
                .info__item
                  .info__h1 Стоимость:
                  .info__h2 от 900 грн./сутки за номер
                  
                .subpage__bookbutton.banya__bookbutton
                  a(href="/booking.html") Забронировать
                  
            .tab__content 
              .content__h1 
                | Номер категории «Стандарт улучшенный»
              .content__h2 
                | Стандартный номер улучшенной планировки. Просторный, светлый, оснащен всем необходимым для комфортного пребывания — двуспальная кровать, плазменный телевизор, ванная комната оборудованная ванной и биде.
              
              .content__slider
                div.content__slideritem.slider__block
                  img(src= 'assets/img/slider/subpageContentSlider/hotelStandart+3.jpg', alt="Номер категории «Стандарт улучшенный»")
                  img(src= 'assets/img/slider/subpageContentSlider/hotelStandart+1.jpg', alt="Номер категории «Стандарт улучшенный»")
                  img(src= 'assets/img/slider/subpageContentSlider/hotelStandart+4.jpg', alt="Номер категории «Стандарт улучшенный»")
                  img(src= 'assets/img/slider/subpageContentSlider/hotelStandart+2.jpg', alt="Номер категории «Стандарт улучшенный»")
                  
              .content__info
                .info__item
                  .info__h1 Количество номеров:
                  .info__h2 9
                .info__item
                  .info__h1 Площадь номеров: 
                  .info__h2 25 м²
                .info__item
                  .info__h1 Количество проживающих гостей: 
                  .info__h2 до 2 человек
                .info__item
                  .info__h1 Вид из окна: 
                  .info__h2 на пляж и ресторан / на Галерный залив
                .info__item
                  .info__h1 Стоимость:
                  .info__h2 от 1250 грн./сутки за номер
                  
                .subpage__bookbutton.banya__bookbutton
                  a(href="booking.html") Забронировать
                  
            .tab__content 
              .content__h1 
                | Номер категории «Люкс»
              .content__h2 
                | Большой комфортабельный номер улучшенной планировки с двумя комнатами — гостинной и спальней. Оснащен всем необходимым для комфортного пребывания — широкая двуспальная кровать, плазменный телевизор в каждой комнате, двуспальный раскладной диван-кровать в гостинной, просторная ванная комната оборудованная ванной-джакузи и биде, балкон со столиком и креслами 
              
              .content__slider
                div.content__slideritem.slider__block
                  img(src= 'assets/img/slider/subpageContentSlider/hotelLuks1.jpg', alt="Номер категории «Люкс»")
                  img(src= 'assets/img/slider/subpageContentSlider/hotelLuks2.jpg', alt="Номер категории «Люкс»")
                  img(src= 'assets/img/slider/subpageContentSlider/hotelLuks3.jpg', alt="Номер категории «Люкс»")
                  img(src= 'assets/img/slider/subpageContentSlider/hotelLuks4.jpg', alt="Номер категории «Люкс»")
                  img(src= 'assets/img/slider/subpageContentSlider/hotelLuks5.jpg', alt="Номер категории «Люкс»")                  
              .content__info
                .info__item
                  .info__h1 Количество номеров:
                  .info__h2 4
                .info__item
                  .info__h1 Площадь номеров: 
                  .info__h2 37 м²
                .info__item
                  .info__h1 Количество проживающих гостей: 
                  .info__h2 2 + 2 (размещение на дополнительном спальном месте)
                .info__item
                  .info__h1 Вид из окна: 
                  .info__h2 на пляж и ресторан / на Галерный залив
                .info__item
                  .info__h1 Стоимость:
                  .info__h2 от 1950 грн./сутки за номер (стоимость размещения на дополнительном спальном месте – 500 грн./сутки)
                  
                .subpage__bookbutton.banya__bookbutton
                  a(href="booking.html") Забронировать
                  
          .tabs__menu
            .tabs__menuitem 
              | «Стандарт»
            .tabs__menuitem 
              | «Стандарт улучшенный»
            .tabs__menuitem 
              | «Люкс»
