extends ../layout/page

mixin benefits()
  .benefits__item
    i.fa.fa-wifi(style="color: #999")  
    div Wi-Fi
  .benefits__item
    i.fa.fa-thermometer(style="color: #999")  
    div Кондиционер
  .benefits__item
    i.fa.fa-lock(style="color: #999")  
    div Мини-сейф
  .benefits__item
    i.fa.fa-tv(style="color: #999")  
    div Кабельное TV
  .benefits__item
    i.fa.fa-glass(style="color: #999")  
    div Мини-бар
  .benefits__item
    i.fa.fa-phone(style="color: #999")  
    div Телефон 
  .benefits__item
    i.fa.fa-tint(style="color: #999")  
    div Питьевая вода
  .benefits__item
    i.fa.fa-bath(style="color: #999")  
    div Халат и тапочки
  .benefits__item
    i.fa.fa-heart(style="color: #999")  
    div Мини-косметика
  

block title 
  title Главная страница
  
  
block content
  .video
    .video__wrapper
      .video-close
        i.fa.fa-close
          span Закрыть
      iframe(src="https://www.youtube.com/embed/K8q54VyyBX8?enablejsapi=1;rel=0&amp;showinfo=0", frameborder="0", allowfullscreen)#video-iframe
  .descript 
    .wrapper
      .row
        .descript__photo.slider__block
          - var descriptPhoto = 1;
          while descriptPhoto < 5
            div.photo__item 
              img(src= 'assets/img/slider/descriptPhoto/' + descriptPhoto++ + '.jpg', alt="РК «Галера»")
        .descript__text
          .text__yakor
          .text__heading
            h1.heading__h1
              | Галера            
            h2.heading__h2
              | Гавань вашего настроения
          .text__button.video-open
            i.fa.fa-play
            span
              | Смотреть видео
  
  .restaurant-bg 
    .wrapper
      .restaurant.block
        .row
          .restaurant__top.block__top
            .restaurant__heading.block__heading
              .top__icon.block__icon
              .top__h1.block__h1
                | Ресторан
              a(href="restaurant.html").restaurant__button.block__button
                span.button__icon.button__icon-restaurant
                | Смотреть фотогалерею
        .row.block__row    
          .restaurant__menu.block__menu
            a(href="booking.html").menu__item.menu__item-bordered 
              | Забронировать столик
            a(href="booking.html").menu__item 
              | Заказать доставку
            a(href="booking.html").menu__item 
              | Оформить подарочный сертификат
            a(href="booking.html").menu__item 
              | Получить скидку
        .row.block__row.block__row-descript      
          .restaurant__descript.block__descript
            | Гармоничное сочетание комфорта и красоты. Шеф-повар позаботится о том, чтобы Ваш вечер сопровождался вкуснейшими блюдами грузинской, итальянской и украинской кухни, а сомелье подберет лучший напиток из обширной карты вин и элитного алкоголя. 
            br 
            br
            |Здесь можно уединиться в отдельном банкетном домике, окунуться в приятную прохладу летней террасы жарким июльским днем, послушать живое исполнение мировых хитов в основном зале ресторана.
        .row.block__row.block__row-bottom       
          .restaurant__bottom.block__bottom
            .bottom__item
              .item__h1
                | Средний чек
              .item__h2
                | 350 грн.    
            .bottom__item
              .item__h1
                | Время работы
              .item__h2
                | Круглосуточно    
    
  .hotel-bg 
    .wrapper
      .hotel.block
        .row
          .hotel__top.block__top
            .hotel__heading.block__heading
              .top__icon.block__icon
              .top__h1.block__h1
                | Отель
                
        .subpage__bookbutton.banya__bookbutton
          a(href="booking.html") Забронировать
        
        .block__content
          .block__col.block__left
            .row.block__row
              .hotel__benefits
                .benefits__h1 
                  | Наполнение номеров
                .row
                  +benefits()
            .row.block__row.block__row-descript      
              .hotel__descript.block__descript
                | Отель на воде Галера — это 15 комфортабельных номеров, нашедших свою тихую гавань на берегу живописного Галерного залива Днепра. 
                br 
                br
                | Светлые просторные номера, круглосуточно-охраняемая территория комплекса, автомобильная парковка, оперативное обслуживание в номерах, ежедневная уборка, возможность проживания с домашними животными (по предварительному согласованию), умиротворяющий вид из окна, доброжелательный отзывчивый персонал, комфорт, уют и хорошее настроение — базовая комплектация всех номеров нашего отеля.
            .row.block__row.block__row-hotelbottom    
              .hotel__bottom.block__bottom
                .bottom__item
                  .item__h1
                    | Время заезда
                  .item__h2
                    | 14:00    
                .bottom__item
                  .item__h1
                    | Время выезда
                  .item__h2
                    | 12:00 
                .bottom__item
                  .item__h1.item__h1-helper
                    | Возможность раннего заезда/позднего выезда 
                    |‌ по предварительному согласованию.         
          .block__col.block__right.block__slider  
            .hotel__slider
              - var hotelSlider = 1;
              while hotelSlider < 5
                div.hotel__slide 
                  img(src= 'assets/img/slider/hotelSlider/' + hotelSlider++ + '.jpg', alt="Отель")      
            .hotel__slider-nav
              - var hotelSliderNav = 1;
              while hotelSliderNav < 5
                div.hotel__slide-nav 
                  img(src= 'assets/img/slider/hotelSlider/' + hotelSliderNav++ + '.jpg', alt="Отель")      

  .offers-bg
    .wrapper
      .offers.block.slider__wrapper
        .offers__slider.slider__block
          a(href="offerID.html") 
            img(src="http://via.placeholder.com/1240x400", alt="alt")
          a(href="offerID.html") 
            img(src="http://via.placeholder.com/1240x400", alt="alt")
          
  
  .news-bg
    .wrapper
      .news.block
        .news__top.block__top
          .news__heading.block__heading
            .top__icon
              i.fa.fa-newspaper-o
            .top__h1.block__h1
              | Новости и акции
        .row.news__items
          a(href="newsID.html").news__item
            img.item__img(src="http://via.placeholder.com/320x240", alt="Новости")
            .item__h1
              | Заголовок новости
            .item__h2
              | Предпросмотр новости. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
          a(href="newsID.html").news__item
            img.item__img(src="http://via.placeholder.com/320x240", alt="Новости")
            .item__h1
              | Заголовок новости
            .item__h2
              | Предпросмотр новости. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
          a(href="newsID.html").news__item
            img.item__img(src="http://via.placeholder.com/320x240", alt="Новости")
            .item__h1
              | Заголовок новости
            .item__h2
              | Предпросмотр новости. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
  script(src="assets/js/buttons.js")
