extends ../layout/page

block title 
  title РК «Галера» - Инфраструктура
  
block content
  .subpage 
    .wrapper
      .row
        .subpage__h1.infra__h1
          | Инфраструктура
        .subpage__h2.infra__h2
          | В нашем маленьком оазисе Галерного залива каждый гость сможет найти себе занятие по духу. Зажигатели и драйверы будут уходить «в отрыв» на танцполе под аккомпанемент музыкантов и диджеев или рассекать зеркальную гладь залива носом быстроходной яхты, неисправимые романтики – крутить педали катамарана, ведя извечные споры о смысле жизни, искушенные ценители кальянов – релаксировать в тени деревьев на мягких пуфах, заядлые спортсмены – гонять мяч или свистеть теннисными ракетками на спортплощадке, бронзовокожие пляжники – нежиться под солнышком на шезлонгах и в бунгало, а звонкая детвора – с зажигательным смехом катиться с горки на детской площадки. Хорошо, когда хорошо всем!
  
      .row
        .subpage__tabs
          .tabs__tab
            .tab__content 
              .content__h1 
                | Пляж
                
              .content__info
                .info__item
                  .info__h1 Время работы пункта проката:
                  .info__h2 8:00 – 20:00
                .info__item
                  .info__h1 Аренда шезлонга: 
                  .info__h2 пн.-чт. - 50 грн/день, пт.-вс. – 100 грн/день, аренда бунгало – 450 грн/день

              .content__slider
                div.content__slideritem.slider__block
                  img(src= 'assets/img/slider/infra/plyazh1.jpg', alt="Пляж")
                  img(src= 'assets/img/slider/infra/plyazh2.jpg', alt="Пляж")
                    
            .tab__content 
              .content__h1 
                | Прокат яхты Crownline 255
                
              .content__info.content__info-infra
                .info__item
                  .info__h1 Стоимость:
                  br
                  .info__h2.info__h2-block 2000 грн/час. – тихий ход, 2500 грн/час. – скоростной режим, 800 грн/час. – стояночный чай.
                .info__item
                  .info__h1 Пасажировместимость:
                  br
                  .info__h2.info__h2-block До 5 человек
                .info__item
                  .info__h1 На судне:
                  br
                  .info__h2.info__h2-block Салон, летняя площадка, кухня, санузел
                .info__item
                  .info__h1 Оборудование: 
                  br
                  .info__h2.info__h2-block Холодильник, автомагнитола
                .info__item
                  .info__h1 Условия аренды: 
                  br
                  .info__h2.info__h2-block Яхта может быть заказана не позже 20:00, для заказа необходимо предъявление паспорта или водительского удостоверения, наличный расчет
                    
              .content__slider
                img(src= 'assets/img/slider/infra/yahta.jpg', alt="Прокат яхты Crownline 255")

            .tab__content 
              .content__h1 
                | Прокат катамаранов
                
              .content__info
                .info__item
                  .info__h1 Время работы пункта проката: 
                  .info__h2 8:00 – 20:00
                .info__item
                  .info__h1 Стоимость аренды катамарана: 
                  .info__h2 50 грн/30 мин., от 80 до 100 грн/час
                .info__item
                  .info__h1 Условия аренды катамарана: 
                  .info__h2 Залог в виде документов или материальных ценностей

              .content__slider
                //- img(src= 'assets/img/slider/infra/katamaran.jpg', alt="Прокат катамаранов")              

            .tab__content 
              .content__h1 
                | Спортивная площадка
              
              .content__info
                .info__item
                  .info__h1 Время работы пункта проката:
                  .info__h2 8:00 – 20:00
                .info__item
                  .info__h1 Возможные активности: 
                  .info__h2 Настольный теннис, волейбол, футбол, баскетбол
                .info__item
                  .info__h1 Стоимость:
                  .info__h2 Бесплатно
                .info__item
                  .info__h1 Условия использования инвентаря: 
                  .info__h2 Залог в виде документов или материальных ценностей
      
              .content__slider
                img(src= 'assets/img/slider/infra/sport.jpg', alt="Спортивная площадка")                 
            
            .tab__content 
              .content__h1 
                | Спортивный зал
              
              .content__info
                .info__item
                  .info__h1 Скоро открытие
                  .info__h2 
      
              .content__slider
                //- img(src= 'assets/img/slider/infra/sportzal.jpg', alt="Спортивный зал")                 
            
            .tab__content 
              .content__h1 
                | Салон красоты
              
              .content__info
                .info__item
                  .info__h1 Узнать цены и записаться на процедуры можно по телефону:
                  .info__h2 +38 067 525 35 35
      
              .content__slider
                //- img(src= 'assets/img/slider/infra/salon.jpg', alt="Салон красоты")                 
            
            .tab__content 
              .content__h1 
                | Детская площадка
      
              .content__slider
                div.content__slideritem.slider__block
                  img(src= 'assets/img/slider/infra/detskaya1.jpg', alt="Детская площадка")                
                  img(src= 'assets/img/slider/infra/detskaya2.jpg', alt="Детская площадка")                
                  img(src= 'assets/img/slider/infra/detskaya3.jpg', alt="Детская площадка")                
          
            .tab__content 
              .content__h1 
                | Кальян-зона
              
              .content__slider
                img(src= 'assets/img/slider/infra/hookah.jpg', alt="Кальян-зона")               
            
            .tab__content 
              .content__h1 
                | Сцена
                
              .content__slider
                img(src= 'assets/img/slider/infra/scena.jpg', alt="Сцена")               

          .tabs__menu
            .tabs__menuitem 
              | Пляж
            .tabs__menuitem 
              | Прокат яхты Crownline 255
            .tabs__menuitem 
              | Прокат катамаранов
            .tabs__menuitem 
              | Спортивная площадка
            .tabs__menuitem 
              | Спортивный зал
            .tabs__menuitem 
              | Салон красоты
            .tabs__menuitem 
              | Детская площадка
            .tabs__menuitem 
              | Кальян-зона
            .tabs__menuitem 
              | Сцена

          
