extends ../layout/page

block title 
  title РК «Галера» - Программа лояльности
  
block content
  .subpage 
    .wrapper
      .row
        .subpage__h1
          | Программа лояльности
        .subpage__h2
          | В разработке
      
