extends ../layout/page

block title 
  title РК «Галера» - Новости и акции
  
block content
  .subpage
    .wrapper
      .row
        .subpage__h1
          | Новости и акции
        
      .row
        .newsID__image
          .newsID__date
            i.fa.fa-calendar
            | 21.07.2020
          img(src="http://via.placeholder.com/1240x600", alt="Заголовок новости")
            
        .newsID__content 
          .newsID__h1
            | Заголовок новости
          .newsID__h2
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus harum voluptatum, dolorem laboriosam quaerat magni autem sequi voluptas nemo quidem error ipsa ducimus, repudiandae sapiente laudantium quae id necessitatibus veritatis. Fugiat illum eligendi voluptatum, dolor doloremque dolore delectus, eos, ipsam accusamus explicabo sequi aperiam asperiores labore corporis repudiandae. Dicta ratione quisquam ab perferendis, provident exercitationem repudiandae esse voluptate suscipit? Quis in, nulla ut, similique accusantium perspiciatis, mollitia explicabo necessitatibus ex itaque repellat corrupti. Optio consequatur earum cumque at quasi, libero, hic! Odit nulla debitis dolorem, neque labore excepturi alias architecto quod animi maxime blanditiis non esse quam, magni vitae quisquam.
