extends ../layout/page

block title 
  title РК «Галера» - Новости и акции
  
block content
  .subpage
    .wrapper
      .row
        .subpage__h1
          | Новости и акции
        
      .row.news__items
        each news in Array(5)
          a(href="newsID.html").news__item
            img.item__img(src="http://via.placeholder.com/480x360", alt="Новости")
            .item__h1
              | Заголовок новости
            .item__h2
              | Предпросмотр новости. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet.
