extends ../layout/page

block title 
  title РК «Галера» - Специальные предложения
  
block content
  .subpage 
    .wrapper
      .row
        .subpage__h1.subpage__h1-mobile
          | Специальные предложения
          
