extends ../layout/page

block title 
  title РК «Галера» - Меню ресторана
  
block content
  .subpage 
    .wrapper
      .row
        .subpage__h1
          | Меню ресторана
          
      .row
        .content__menu-default.no-margin 
          a(href="assets/docs/menu.xlsx").menu__item.menu__item-bordered Скачать меню
      .row
        .restaurantMenu__tabs
          .restaurantMenu__tabMenu
            .menu__item Основное меню ресторана
            .menu__item Карта коктейлей
            .menu__item Винная карта
            .menu__item Сезонное меню
            .menu__item Банкетное меню
            .menu__item Меню завтраков для гостей отеля
            
          .restaurantMenu__tabsBlock
            .restaurantMenu__tabContent  
              div.restMenu__slide.slider__block   
                - var restmenuMain= 1;
                while restmenuMain < 15
                  img(src= 'assets/img/slider/restmenu/' + restmenuMain++ + '.jpg', alt="Основное меню ресторана")   
            .restaurantMenu__tabContent    
              div.restMenu__slide
                img(src= 'assets/img/slider/restmenu/coctail.jpg', alt="Карта коктейлей")   
            .restaurantMenu__tabContent    
              div.restMenu__slide
                img(src= 'assets/img/slider/restmenu/vino1.jpg', alt="Винная карта")   
                img(src= 'assets/img/slider/restmenu/vino2.jpg', alt="Винная карта")   
            .restaurantMenu__tabContent    
              div.restMenu__slide
                img(src= 'assets/img/slider/restmenu/sezon.jpg', alt="Сезонное меню")   
            .restaurantMenu__tabContent    
              div.restMenu__slide
                img(src= 'assets/img/slider/restmenu/banket.jpg', alt="Банкетное меню")   
            .restaurantMenu__tabContent    
              div.restMenu__slide
                img(src= 'assets/img/slider/restmenu/zavtrak.jpg', alt="Меню завтраков для гостей отеля")   
              
              
              

    
