extends ../layout/page

block title 
  title РК «Галера» - Ресторан
  
block content
  .subpage 
    .wrapper
      .row
        .subpage__h1
          | Ресторан
          
      .row
        .subpage__tabs
          .tabs__tab
            .tab__content 
              .content__h1 
                | Зал «Пантон»
                
              .content__menu 
                .menu__item.subpage__bookbutton
                  a(href="booking.html") Забронировать
                .menu__item  
                  a(href="restaurant-menu.html") Меню ресторана
              .content__info
                .info__item
                  .info__h1 График работы:
                  .info__h2 Пн. – Вс. круглосуточно
                .info__item
                  .info__h1 Количество посадочных мест: 
                  .info__h2 до 100
                .info__item
                  .info__h1 Варианты рассадки: 
                  .info__h2 театр, переговоры, П-образный, Т-образный, класс, елочка

              .content__slider
                div.content__slideritem.slider__block
                  img(src= 'assets/img/slider/restaurant/platon1.jpg', alt="Зал «Платон»")
                  img(src= 'assets/img/slider/restaurant/platon2.jpg', alt="Зал «Платон»")
                  img(src= 'assets/img/slider/restaurant/platon3.jpg', alt="Зал «Платон»")
                  img(src= 'assets/img/slider/restaurant/platon4.jpg', alt="Зал «Платон»")
                  

            .tab__content 
              .content__h1 
                | Зал «Кают-Компания»
                
              .content__menu 
                .menu__item.subpage__bookbutton 
                  a(href="booking.html") Забронировать
                .menu__item  
                  a(href="restaurant-menu.html") Меню ресторана
              
              .content__info
                .info__item
                  .info__h1 График работы:
                  .info__h2 Пн. – Вс. круглосуточно
                .info__item
                  .info__h1 Количество посадочных мест: 
                  .info__h2 до 40
                .info__item
                  .info__h1 Варианты рассадки: 
                  .info__h2 театр, переговоры, П-образный, Т-образный, класс, елочка, подкова
                    
              .content__slider
                div.content__slideritem.slider__block
                  img(src= 'assets/img/slider/restaurant/kaut1.jpg', alt="Зал «Кают-Компания»")
                  img(src= 'assets/img/slider/restaurant/kaut2.jpg', alt="Зал «Кают-Компания»")
                  img(src= 'assets/img/slider/restaurant/kaut3.jpg', alt="Зал «Кают-Компания»")
                  img(src= 'assets/img/slider/restaurant/kaut4.jpg', alt="Зал «Кают-Компания»")
                  


            .tab__content 
              .content__h1 
                | Летняя терраса
                
              .content__menu 
                .menu__item.subpage__bookbutton
                  a(href="booking.html") Забронировать
                .menu__item  
                  a(href="restaurant-menu.html") Меню ресторана

              .content__info
                .info__item
                  .info__h1 График работы:
                  .info__h2 Пн. – Вс. круглосуточно
                .info__item
                  .info__h1 Количество посадочных мест: 
                  .info__h2 до 200
                .info__item
                  .info__h1 Варианты рассадки: 
                  .info__h2 театр, переговоры, П-образный, Т-образный, класс, елочка
                .info__item
                  .info__h1 Оснащение: 
                  .info__h2 сцена, танцпол, 16 закрывающихся шатров, ротанговая обеденная мебель

              .content__slider
                div.content__slideritem.slider__block
                  img(src= 'assets/img/slider/restaurant/terrasa1.jpg', alt="Летняя терраса")
                  img(src= 'assets/img/slider/restaurant/terrasa2.jpg', alt="Летняя терраса")
                  img(src= 'assets/img/slider/restaurant/terrasa3.jpg', alt="Летняя терраса")
                  img(src= 'assets/img/slider/restaurant/terrasa4.jpg', alt="Летняя терраса")                 

            .tab__content 
              .content__h1 
                | VIP-домики
              
              .content__menu 
                .menu__item.subpage__bookbutton
                  a(href="booking.html") Забронировать
                .menu__item  
                  a(href="restaurant-menu.html") Меню ресторана
                
              .content__info
                .info__item
                  .info__h1 График работы:
                  .info__h2 Пн. – Вс. круглосуточно
                .info__item
                  .info__h1 Количество посадочных мест: 
                  .info__h2 до 8-16
                .info__item
                  .info__h1 Стили оформления: 
                  .info__h2 рыбацкий, охотничий, украинский, ретро
                .info__item
                  .info__h1 Оснащение: 
                  .info__h2 плазменный телевизор, кондиционер, автономное отопление и кнопка вызова официанта
      
              .content__slider
                div.content__slideritem.slider__block
                  img(src= 'assets/img/slider/restaurant/vip1.jpg', alt="VIP-домики")
                  img(src= 'assets/img/slider/restaurant/vip2.jpg', alt="VIP-домики")
                  img(src= 'assets/img/slider/restaurant/vip3.jpg', alt="VIP-домики")
                  img(src= 'assets/img/slider/restaurant/vip4.jpg', alt="VIP-домики")
                  img(src= 'assets/img/slider/restaurant/vip5.jpg', alt="VIP-домики")                  

          .tabs__menu
            .tabs__menuitem 
              | Зал «Пантон»
            .tabs__menuitem 
              | Зал «Кают-Компания»
            .tabs__menuitem 
              | Летняя терраса
            .tabs__menuitem 
              | VIP-домики
