.banya__h2 {
  @include size(9);
  @include size-md(12);
  vertical-align: middle;
  margin-top: $layout-offset;
  font-size: $font-size-normal;
  font-weight: 400;
  line-height: $font-size-normal + 6px;
  margin-left: $layout-offset*2;

  @include md-block {
    margin-left: 0;
  };
}

.is-vertical-center  {
  align-items: center;
}

.banya__bookbutton {
  margin-top: $layout-offset;

  @include md-block{

    &:first-child {
      margin-top: $layout-offset;
    }
  };
}

.banya__time {
  margin-top: $layout-offset;
  border-radius: 12px;
  box-shadow: 0px 0px 48px rgba(#000, .05);
  display: block;
  background: #fff;
  padding: $layout-offset;

  @include md-block {
    width: 100%;
  };

  .time__h1 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: $layout-offset;

    &:first-child {
      margin-top: 0;
    }
  }

  .time__h2 {
    margin-top: $layout-offset/2;
    font-size: $font-size-small;
  }
}

.banya__slider {
  * {
    outline: none;
  }
  img {
    outline: none;
  }
}
