.contacts__col {
  display: flex;
  flex-direction: column;
  margin-top: $layout-offset*2;
  width: calc(50%);
  justify-content: center;
  @include md-block {
    width: 100%;
  };

  .contacts__item {
    @include size(12);
    margin-top: $layout-offset*2;

    &:first-child {
      margin-top: 0;
    }

    .item__h1 {
      font-weight: 500;
    }

    .item__h2 {
      margin-top: $layout-offset/4;

      span {
        font-weight: 500;
        margin-right: $layout-offset/4;
      }
    }
  }
}
