.video {
  display: none;
  visibility: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $layout-offset*2;
  overflow: hidden;
  z-index: 1000;

  @include md-block {
    padding: $layout-offset/2;
  };

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: $layout-offset/2;
    box-shadow: 0px 0px 48px rgba(#000, .5);

  }

  .fa {
    position: absolute;
    right: 0;
    top: 0;
    padding: $layout-offset;
    color: #fff;
    z-index: 1000;
    font-size: $font-size-big;
    cursor: pointer;

    span {
      vertical-align: middle;
      margin-left: $layout-offset/2;
      text-transform: uppercase;
      font-weight: 600;
      font-size: $font-size-small;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    border-radius: $layout-offset/2;
    overflow: hidden;
  }
}

.video-visible {
  display: block;
  visibility: visible;
}

.descript {

  padding: $layout-offset*5 0;

  @include md-block{
    padding: $layout-offset*3 0;
  };

  .row {
    @include justify-content(space-between);
    @include align-items(center);
  }

  &__photo {
    position: relative;
    @include size(8);
    @include md-block{
      display: none;
    };

    .slick-list {
      margin-left: -$layout-offset/2;
    }

    .photo__item {
      padding: $layout-offset/2;
      border-radius: $layout-offset/2;
      outline: none;
      img {
        @include size(14);
        @include size-md(12);
        height: auto;
        border-radius: $layout-offset/2;
      }
    }
  }

  &__text {
    @include size(4);
    @include size-md(14);
    @include md-block{
      text-align: center;
    };

    .text__yakor {
      height: $layout-offset*3;
      width: 56px;
      background: url('img/icons/yakor.png') center center no-repeat;
      background-size: contain;

      @include md-block{
        margin: auto;
      };
    }

    .text__heading {
      margin-top: $layout-offset*3;

      @include md-block{
        margin-top: $layout-offset;
      };

      h1.heading__h1 {
        font-size: $layout-offset*3;
        font-weight: 900;
        text-transform: uppercase;
        letter-spacing: 10px;

        @media screen and (max-width: 1140px) {
          letter-spacing: 6px;
          font-size: $layout-offset*2.5;
        }

        @include md-block{
          font-size: $layout-offset*2.5;
          letter-spacing: 5px;
        };
      }

      h2.heading__h2 {
        font-size: $layout-offset - 4px;
        font-weight: 300;
        text-transform: uppercase;
        color: $font-color-grey;

        @media screen and (max-width: 1140px) {
          font-size: $layout-offset - 6px;
        }
        @include md-block{
          font-size: $layout-offset*0.75;
        };
      }
    }

    .text__button {
      display: inline-block;
      cursor: pointer;
      margin-top: $layout-offset*3;
      border-radius: $layout-offset;
      border-radius: $layout-offset;
      background-color: rgb(247, 247, 247);
      box-shadow: 0px 0px 48px 0px rgba(96, 96, 96, 0.26);
      transition: .2s all;

      &:hover {
        box-shadow: 0px 0px 2px 0px rgba(96, 96, 96, 0.16);
        transition: .2s all;

        &:active {
          background: #f2f2f2;
          transition: .05s all;
        }
      }

      padding: $layout-offset/2 $layout-offset;

      i {
        font-size: $layout-offset/2;
        vertical-align: middle;
        color: $font-color-grey;
      }

      span {
        font-size: $font-size-small;
        letter-spacing: .1px;
        font-weight: 400;
        vertical-align: middle;
        margin-left: $layout-offset/2 + 4px;
      }
    }
  }

}

.restaurant-bg {
  background: url('img/bgs/restaurant.png') center center no-repeat;
  background-size: cover;
}

.restaurant {

  * {
    color: $background-color;
  }

  span.button__icon.button__icon-restaurant {
    height: $layout-offset;
    width: $layout-offset/1.25;
    background: url('img/icons/camera.png') center center no-repeat;
    background-size: contain;
  }

  .restaurant__descript {
    color: #999;
  }

  .restaurant__bottom {
    border-top: 1px solid rgba($background-color, 0.2);

    .item__h1 {
      color: #999;
    }
  }

  .top__icon {
    background: url('img/icons/cooker.png') center center no-repeat;
    background-size: contain;
  }
}

.hotel-bg {
  background: #fff;
}

.hotel {

  .block__content {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .block__col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .block__row-hotelbottom {
    order: 1;
  }
  .block__row-descript {
    order: 2;
  }

  .top__icon {
    background: url('img/icons/hotel.png') center center no-repeat;
    background-size: contain;
  }

  .hotel__descript {
    color: darken($font-color-grey, 30%);
    border-top: 1px solid #e7e7e7;
    margin-top: -$layout-offset;
    padding-top: $layout-offset;
  }

  .benefits {
    &__h1 {
      margin-bottom: $layout-offset/4;
      color: darken($font-color-grey, 30%);
    }

    &__item {
      margin-right: $layout-offset;
      margin-top: $layout-offset/2;

      @include size(4);
      @include size-xs(6.7);

      @include xs-block {
        margin-right: $layout-offset/4;
      };

      div {
        display: inline-block;
        font-weight: 500;
        font-size: $font-size-small;

        @include sm-block {
          font-size: $font-size-small - 1px;
        };
      }

      i {
        display: inline-block;
        margin-right: $layout-offset/2;
        @include size(3);
        @include size-md(4);
        text-align: center;

        @include sm-block {
          margin-right: $layout-offset/3;
          width: 10px;
        };
      }
    }
  }

  * {
    outline: none;
  }

  .block__slider {
    overflow: hidden;
  }

  .hotel__slider {
    display: block;
    border-radius: $layout-offset/2;
    outline: none;
    overflow: hidden;
    width: 100%;

    @include md-block {
      margin-top: $layout-offset*2;
    };

    img {
      width: auto;
      // height: $layout-offset*13;
      height: auto;
      border-radius: $layout-offset/2;

    }
  }
  .hotel__slider-nav {
    display: block;
    margin-top: $layout-offset;
    width: 100%;
    border-radius: 8px;

    @include md-block {
    };

    img {
      width: auto;
      // height: $layout-offset*13;
      height: auto;
      padding: $layout-offset/6;
      margin: -$layout-offset/6;
      border-radius: 8px;
    }
  }
}

.news-bg {
  width: 100%;

  .block {
    padding: $layout-offset*3 0;
  }

  .news {
    .fa {
      font-size: $font-size-big;
      margin-right: $layout-offset;
      vertical-align: middle;
    }

    &__h1 {
      width: 100%;
      display: block;
      text-transform: uppercase;
      font-size: $font-size-large;
      margin-top: none;
      font-weight: 800;
      margin-bottom: $layout-offset;
    }

    .news__items {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      align-items: flex-start;
      margin-top: $layout-offset;
      @include justify-content(space-between);
      @include sm-block {
        text-align: center;
        justify-content: center;
      };
    }

    &__item {
      @include size(4);
      @include size-md(6);
      @include size-sm(12);
      @include md-block {
        margin-top: $layout-offset;
        margin-left: 0;
        margin-right: 0;
      };
      @include sm-block {
        &:nth-child(2) {
          margin-top: 0;
        }
      };

      text-align: left;
      padding: $layout-offset/2;
      margin-left: -$layout-offset/2;
      margin-right: -$layout-offset/2;
      border-radius: $layout-offset/2;
      transition: .2s all;

      &:hover {
        background: #fff;
        cursor: pointer;
        box-shadow: 0px 0px 24px 0px rgba(96, 96, 96, 0.16);
        transition: .2s all;
      }

      .item__img {
        border-radius: $layout-offset/2;
        min-width: 100%;
      }

      .item__h1 {
        margin-top: $layout-offset/2;
        font-weight: bold;
        text-transform: uppercase;
        font-size: $font-size-normal;

      }

      .item__h2 {
        margin-top: $layout-offset/2;
        font-weight: 400;
        font-size: $font-size-small;
        line-height: $font-size-small+6px;
        color: darken($font-color-grey, 30%);
      }
    }
  }
}
