.infra__h1 {

  @include sm-block {
    font-size: $layout-offset*1.25;
  };
}

.infra__h2 {
  @include size(9);
  @include size-md(12);
}

.tab__content {
  img {
    border-radius: $layout-offset/2;
  }
}
