.news__items {
  margin-top: $layout-offset;

  @include sm-block {
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  };

  @include md-block {
    @include justify-content(space-between);
  };
}

.news__item {
  width: calc(33.33333%);
  @include size-md(6);
  @include size-sm(12);
  @include md-block {
    margin-top: $layout-offset;
    margin-left: 0;
    margin-right: 0;
  };

  text-align: left;
  padding: $layout-offset/2;
  border-radius: $layout-offset/2;
  transition: .2s all;

  &:hover {
    background: #fff;
    cursor: pointer;
    box-shadow: 0px 0px 24px 0px rgba(96, 96, 96, 0.16);
    transition: .2s all;
  }

  .item__img {
    border-radius: $layout-offset/2;
    min-width: 100%;
  }

  .item__h1 {
    margin-top: $layout-offset/2;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $font-size-normal;

  }

  .item__h2 {
    margin-top: $layout-offset/2;
    font-weight: 400;
    font-size: $font-size-small;
    line-height: $font-size-small+6px;
    color: darken($font-color-grey, 30%);
  }
}


.newsID {
  &__image {
    position: relative;
    overflow: hidden;
    margin-top: $layout-offset*2;

    img {
      border-radius: $layout-offset/4;
    }

    .newsID__date {
      cursor: default;
      position: absolute;
      top: $layout-offset;
      left: $layout-offset;
      padding: $layout-offset/6 $layout-offset/2;
      border-radius: 4px;
      border: 1px solid #fff;
      color: #fff;
      text-align: center;
      font-weight: 600;
      font-size: $font-size-small;

      @include md-block {
        top: $layout-offset/2;
        left: $layout-offset/2;
      };

      i.fa {
        margin-right: $layout-offset/4;
      }
    }
  }

  &__content {
    transform: translateY(-$layout-offset*3);
    border-radius: $layout-offset/2;
    background: #fff;
    padding: $layout-offset;
    margin-left: $layout-offset;
    margin-right: $layout-offset;
    box-shadow: 0px 0px 48px 0px rgba(#000, .2);
    margin-bottom: -$layout-offset*2;

    @include md-block {
      margin: 0 $layout-offset/2;
      transform: translateY(-$layout-offset*1.5);
      box-shadow: 0px 1px 12px 0px rgba(#000, .2);

    };
  }

  &__h1 {
    font-size: $font-size-big - 8px;
    margin-top: $layout-offset/2;
    text-transform: uppercase;
    font-weight: 500;
  }

  &__h2 {
    margin-top: $layout-offset;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .3px;
  }
}
