.restMenu__slide {
  border-radius: $layout-offset/2;
  overflow: hidden;

  img {
    width: 100%;
  }
}

.restaurantMenu__tabs {
  width: 100%;
}

.restaurantMenu__tabMenu {
  display: flex;
  flex-wrap: wrap;

  @include size(12);
  @include justify-content(space-between);

  .menu__item {
    display: block;
    margin-top: $layout-offset/2;
    cursor: pointer;
    text-transform: uppercase;
    font-size: $font-size-small;
    font-weight: 400;
    text-decoration: underline;
    margin-right: $layout-offset/2;
    &:last-child {
      margin-right: 0;
    }

    @include md-block {
      @include size(6);
      margin-right: 0;
    };
  }
}

.restaurantMenu__tabsBlock {
  margin-top: $layout-offset*2;
}
