extends ../layout/page

block title 
  title РК «Галера» - Бронирование
  
block content
  
  script(src="https://connectone.me/module/?hid=e9205e")
  link(rel="stylesheet", href="assets/css/main.css", attr)
  
  .subpage 
    .wrapper
      .booking__item
        .item__h1 
          | По вопросам бронирования столиков, бани:
        .item__h2
          | Тел.: +38 067 525-35-35
        .item__h2
          | E-Mail: hotel@galera.com.ua
      //- .booking__tabs.bookingForm.bookingForm-subpage
      //-   .bookingForm__tabMenu
      //-     .menu__item 
      //-       i.fa.fa-cutlery
      //-       | Ресторан
      //-     .menu__item 
      //-       i.fa.fa-shower
      //-       | Баня
      //-     
      //-   .bookingForm__tabsBlock
      //-     .bookingForm__tabContent  
      //-       .subpage__h1.tabsContent__h1 Бронировние ресторана
      //-       form(action="#", name="Restaurant Booking").tabsContent__form
      //-         .form__h2 Ф.И.О.*:
      //-         input(type="name", name="name", required)
      //-         .form__h2 Телефон*:
      //-         input(type="phone", name="phone", required)
      //-         .form__h2 E-Mail*:
      //-         input(type="email", name="email", required)
      //-         .form__h2 Количество гостей*:
      //-         input(type="text", name="count", required)
      //-         .form__h2 Примечание:
      //-         textarea(type="text", name="message", maxlength="1000")
      //-           
      //-     .bookingForm__tabContent  
      //-       .subpage__h1.tabsContent__h1 Бронировние бани
      //-       form(action="#", name="Banya Booking").tabsContent__form
      //-         .form__h2 Ф.И.О.*:
      //-         input(type="name", name="name", required)
      //-         .form__h2 Телефон*:
      //-         input(type="phone", name="phone", required)
      //-         .form__h2 E-Mail*:
      //-         input(type="email", name="email", required)
      //-         .form__h2 Количество человек*:
      //-         input(type="text", name="count", required)
      //-         .form__h2 Примечание:
      //-         textarea(type="text", name="message", maxlength="1000")
      .subpage__h1-subpage
        | Бронирование отеля
