.footer-bg
  .wrapper
    .footer.block
        .row
          .footer__top
            .footer__logo
            .footer__phone
              .phone__h1
                | Бронирование
              .phone__number
                | +38 (067) 525-35-35
            .footer__social
              a(href="https://www.instagram.com/rk_galera/", target="_blank") 
                i.fa.fa-instagram
              a(href="https://www.facebook.com/galera.com.ua/", target="_blank")
                i.fa.fa-facebook
            .footer__feedback
              a(href="https://www.booking.com/hotel/ua/rozvazhalny-complex-galera.ru.html#tab-reviews", target='_blank')
                .feedback__h1
                  | Отзывы
                .feedback__logo
            
