.language
  a(href="#ru") Русский
  a(href="#ukr") Українська

.header.block
  .wrapper
    .row
      .header__social
        .row
          .social__block.social__email
            a(href="mailto:hotel@galera.com.ua") hotel@galera.com.ua
          .social__block.social__vkfb
            a(href="https://www.instagram.com/rk_galera/", target="_blank") 
              i.fa.fa-instagram
            a(href="https://www.facebook.com/galera.com.ua/", target="_blank")
              i.fa.fa-facebook
      a(href="/")
        .header__logo
      .header__status
        .row
          .status__block.status__weather
            img(src="assets/img/icons/weather-icon.png", alt="alt")
            span.weather__nubmer#weather
          .status__block.status__time
            .time__zone
              | GMT+2
            .time__number#time
          .status__block.status__phone
            .phone__h1
              | Бронирование
            .phone__number
              | +38 (067) 525-35-35
      i.fa.fa-bars.header__menuicon  
