.subpage__bookbutton {
  display: inline-block;
  margin-top: $layout-offset;
  text-align: center;
  cursor: pointer;

  @include md-block{
    width: 100%;
    margin-left: 0px;
    margin-top: $layout-offset;

    &:first-child {
      margin-top: 0;
      text-align: center;
    }
  };

  a {
    text-transform: uppercase;
    font-weight: 500;
    font-size: $font-size-small;
  }

  text-transform: uppercase;
  font-weight: 500;
  font-size: $font-size-small;
  border: 1px solid;
  border-radius: $layout-offset/4;
  padding: $layout-offset/2;
}

.button-big {
  text-transform: uppercase;
  font-weight: 500;
  font-size: $font-size-small;
  border: 1px solid;
  border-radius: $layout-offset/4;
  padding: $layout-offset/2;
  margin-left: $layout-offset;

  @include md-block {
    border: none;
    border-radius: 0px;
    padding: 0;
  };
}
