@import "../assets/colors.scss";
@import "../assets/grid.scss";

@import "fonts.scss";

@include reset();

// FONTS
  $font-size-tiny: 10px;
  $font-size-small: 12px;
  $font-size-normal: 14px;
  $font-size-big: 36px;
  $font-size-large: 48px;

  * {
    font-size: $font-size-normal;
  }

// COLORS

  $background-color: #f8f8f8;

  $color-main: $palette-grey-400;
  $color-main-second: $palette-grey-400;

  $font-color-main: #333333;
  $font-color-grey: #cccccc;

// LAYOUT
  $layout-offset: 24px;

  * {
    box-sizing: border-box;
  }
